body {
  text-align: center;
  font-family: "Chivo Mono";
  color: #8787d8;
  max-width: 680px;
  margin: 50px auto;
}

.App {
  border: 1px solid #8787d8;
  padding: 20px 0;
}

h1 {
  font-size: 50px;
}

form {
  display: inline-block;
}

footer {
  color: rgb(103, 103, 155);
  margin: 40px 0 -10px;
}

.first-information {
  font-size: 28px;
}

.second-information {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.temperature {
  font-weight: bold;
}
.unit {
  margin-left: 4px;
  font-size: 12px;
  position: relative;
  top: -10px; /* Adjust the value as per your need */
}
