body {
  margin-top: 100px;
  text-align: center;
}

.App {
  border: 1px solid blueviolet;
  padding: 40px 0;
}

form {
  display: inline-block;
}

.weather-img {
  margin-top: -8px;
}

footer {
  margin-top: 100px;
}
